<div class="grid-column-one-third">
  
  <aside class="page--aside">
    <h2 class="heading-sm">Quick links</h2>
    
    <ul class="list--no-styles">
    
      {% for item in site.footer-menu--links %}
      {% if item.hidden != true %}
      <li class>
        <a class="link--no-underline link--no-visited-state" href="{{ item.url }}" title="{{ item.alt-text }}">
          {{ item.display-text }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      
    </ul>
    
  </aside>
  
</div>