<footer class="footer" role="contentinfo">
	<div class="width-container">
		<div class="grid-row">
			<div class="grid-column-two-thirds">
				<h2 class="footer--wordmark">Mentor Matching Online</h2>
			</div>
			<div class="grid-column-one-third">
				<ul class="footer--list">
					{% for item in site.footer-menu--links %}
					{% if item.hidden != true %}
					<li class="footer--list-item">
						<a class="footer--link" href="{{ item.url }}" title="{{ item.alt-text }}">
							{{ item.display-text }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<hr class="footer--section-break">
		<div class="footer--meta">
			<div class="footer--meta-item">
				{{ site.footer--production-notice | markdownify }}
			</div>
			<div class="footer--meta-item">
				{{ site.footer--copyright-notice | markdownify }}
			</div>
		</div>
	</div>
</footer>