<div class="grid-row">

	<header class="page--header page--header--{{ page.layout }}">
	
		<div class="grid-column-full">
			<span class="page--caption">{{ layout.caption | default: "Step-by-step guide" }}</span>	
			<h1 class="page--heading">{{ page.title }}</h1>
		</div>
	
		{% unless page.excerpt == false or layout.excerpt == false %}
		<div class="grid-column-two-thirds">
	
			{{ page.excerpt | prepend: '<p class="page--excerpt">' | append: '</p>' }}
	
		</div>
		{% endunless %}
	
	</header>

</div>