{% assign order = page.order %}
{% assign orderPrevious = order | minus: 1 %}
{% assign orderNext = order | plus: 1 %}

{% assign previous = site.guides | where: "order", orderPrevious %}
{% assign next = site.guides | where: "order", orderNext %}

<aside> 
  
  <nav class="pagination pagination--block" role="navigation" aria-label="results">
    
    {% for post in previous %}
    <div class="pagination--prev">
      <a class="link pagination--link" href="{{ post.url }}" rel="prev">
        <svg class="pagination--icon pagination--icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="pagination--link-title">Previous step</span><span class="visually-hidden">:</span>
        <span class="pagination--link-label">{{ post.title }}</span></a>
    </div>
    {% endfor %}
    
    {% for post in next %}
    <div class="pagination--next">
      <a class="link pagination--link" href="{{ post.url }}" rel="next"> <svg class="pagination--icon pagination--icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg> <span class="pagination--link-title">Next step</span><span class="visually-hidden">:</span>
        <span class="pagination--link-label">{{ post.title }}</span></a>
    </div>
    {% endfor %}
    
  </nav>

</aside>