---
layout: skeleton
---

{% include components/navigation.html %}

<header class="page--focus-header header-wrapper">
	
	<div class="width-container">
		<h1 class="focus-header--heading-xxl">{{ page.title | default: "Add page.title in front matter" }}</h1>
		<p class="focus-header--lead">{{ page.excerpt | default: "Add page.excerpt in front matter" }}</p>
	</div>

</header>

<div class="width-container">

	<main class="main-wrapper main-wrapper--auto-spacing" id="main-content" role="main">
		
		<div class="grid-row">
			
			<div class="grid-column-two-thirds">
			
				<h2 class="heading-xl">{{ page.heading | default: "Step-by-step guides" }}</h2>
				
				<!--<p><strong>Don't want to do it yourself?</strong> We can do it for you. Contact us.</p>-->
				
				
			</div>
			
		</div>
			
		<div class="grid-row">
		
			<div class="grid-column-two-thirds">
				
				<div class="page--content">
				
					{% include loop.html %}
					
				</div>
			
			</div>
			
			{% include sidebar.html %}
				
		</div>
		
	</main>

</div>

{% include components/footer.html %}